html {
    scroll-behavior: smooth;
    &.noscroll {
        overflow   : hidden !important;
        // position: fixed;
    }
}

.form-group {
    margin-bottom: 30px;
}

.form-control{
    border: 1px solid transparent;
    height: 50px;
    color: $main-color;
    border-radius: 50px;
    caret-color: rgba(203, 41, 46, 0.5);
    font-family: $font-meduim;
    font-size: 14px;
    width: 100%;
    padding: 10px 40px 10px 20px;
    background-color: rgb(254, 238, 238);
    box-shadow: 0px 0px 16px 0px rgba(203, 41, 47, 0.49);

    &:focus {
        border: 1px solid rgba(203, 41, 46, 0.5);
        outline: unset;
        box-shadow: unset;
    }
    &::placeholder {
        color: $main-color;
    }
    &.error {
        border-color: #ce161a !important;
        &:focus {
            border-color: #ce161a !important;
        }
    }

    &.no-shadow{
        box-shadow: none;
    }

    &.sm-rad{
        border-radius: 8px;
    }
}

textarea,
textarea.form-control {
    height: 120px;
    resize: unset;
    padding: 10px 20px;
    border-radius: $radius;
}
.custom-form{
    position: relative;
    z-index: 3;
    .form-group{
        display: flex;
        align-items: center;
    }
    .form-control{
        padding: 10px;
        width: 75%;
        margin-right: 20px;
        background-color: $white-color;
        border-radius: 8px;
       @extend %shadow-sm;
    }
    .label{
        width: 25%;
        margin: 0;
        color: $main-color;
        font-family: $font-meduim;
        font-size: 16px;
    }
    textarea{
        height: 120px;
        resize: none;
    }
}

.all-form-contact .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 20px;
}

.btn {
    background-color: $main-color;
    color: $white-color;
    border-radius: $g-space*8;
    width: 100px;
    height: 45px;
    line-height: 25px;
    padding: 8px 16px;
    text-align: center;
    font-family: $font-meduim;
    box-shadow: 0px 5px 13.5px 1.5px rgba(0, 0, 0, 0.05);
    @extend %ease;
    font-size: 17px;

    &.btn-bordered{
        border: 1px solid $main-color;
    }
    &.btn-transparent{
        background-color: transparent;
    }
    &:hover,
    &:focus {
        outline: unset;
        @extend %ease;
        background-color: #feeeee;
        color: $main-color;
        box-shadow: inset 0px 0px 27px 0px rgba(203, 41, 47, 0.4);
        border: 1px solid rgba(203, 41, 47, 0.4);
    }

    &.btn-lg{
        width: 200px;
    }
}

.only-mobile {
    display: none;
}

.font-color {
    color: $font-color
}

.black-color {
    color: $black-color;
    font-size: 30px;
    margin-bottom: 30px;
}

.black-bg {
    background-color: $black-color;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.center {
    text-align: center;
    margin: auto;
}

.main-color {
    color: $main-color;
}

.title {
    overflow: hidden;
    .main-title {
        font-size: 30px;
        margin-bottom: $g-margin;
        margin-top: $g-margin - 5;
        color: $main-color;
        position: relative;
        display: inline-block;
        font-family: $font-meduim;
        &:before {
            content: "";
            position: absolute;
            top: -15px;
            right: -55px;
            background-color: rgba(203, 41, 47, 0.102);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            z-index: -1
        }
        &:after {
            content: "";
            position: absolute;
            top: 10px;
            right: -20px;
            background-color: rgba(203, 41, 47, 0.102);
            width: 40px;
            height: 40px;
            border-radius: 50%;
            z-index: 0;
        }
        &.sec-color {
            &:after {
                background-color: #22667d;
            }
        }
    }
    .second-title {
        font-size: 17px;
        font-family: $font-regular;
        margin: 0 auto $g-margin*3/2;
        width: 55%;
    }
}
.more-link{
    font-size: 18px;
    color: $main-color;
    span{
        display: inline-block;
        margin-left: 10px;
        @extend %ease;
    }

    .fas{
        background-color: $white-color;
        color: $main-color;
        @extend %ease;
    }

    &:hover{
        span{
        margin-left: 5px;
        @extend %ease;
        }
        .fas{
            color: $font-color;
        }
    }
}
.gold {
    color: #ed8a19;
}
.rtl .text-left, [dir=rtl] .text-left{
    text-align: left !important;
}
.light-bg {
    background-color: #feeeee;
}

.w-shadow {
   @extend %shadow-sm;
}

.w-bottom-border {
    border-bottom: 1px solid;
    border-color: rgba(203, 41, 47, 0.212);
}

section,
footer {
    padding: 50px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.hidden-block {
    display: none;
}

.visible-block {
    display: block;
}

.card {

    &.product-item {

        border: none;
        @extend %ease;
        margin-bottom: $g-margin * 2;

        .card-image {
            border-radius: 10px;
            box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.32);
            overflow: hidden;
            height: 337px;

            img {
                height: 100%;
                width: 100%;
                transform: scale(1);
                @extend %ease;
            }
        }

        .card-body {
            padding: $g-padding $g-padding/2 0;
            text-align: center;

            .product-name {
                font-size: 16px;
                font-family: $font-meduim;
                line-height: 22px;
                height: 22px;
                overflow: hidden;
                margin-bottom: 20px;
            }

            p {
                &.product-price {
                    font-family: $font-meduim;
                    margin-bottom: $g-margin - 5;
                }
            }

            span {
                display: inline-block;
                position: relative;
                z-index: 1;

                &:not(:last-of-type) {
                    margin-left: $g-margin/10;
                }

                &:before {
                    content: "";
                    position: absolute;
                    right: -3px;
                    top: 7px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    color: $font-color;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                }

                &.gold {
                    &:before {
                        background-image: url("../img/icons/star-bg1.png");
                    }
                }

                &.grey {
                    &:before {
                        background-image: url("../img/icons/star-bg2.png");
                    }
                }
            }

            .product-rate{
                margin-bottom: 0;
            }
        }

        &:hover {
            @extend %ease;

            .card-image {
                img {
                    transform: scale(1.2);
                    @extend %ease;
                }
            }
        }
    }
}

.slick-dots {
    li {
        width: 15px;
        button {
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 15px;
                height: 15px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
                background-color: $white-color;
                border: 1px solid $main-color;
                opacity: 1;
            }
        }
        &.slick-active {
            button {
                &:before {
                    background-color: $main-color;
                    opacity: 1;
                }
            }
        }
    }
}

.slick-prev,
.slick-next {
    opacity: 1;
    &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 13px;
        opacity: 1;
    }
}

.slick-prev {
    &:before {
        content: '\f054' !important;
    }
}

.slick-next {
    &:before {
        content: '\f053' !important;
    }
}


.rtl .custom-control, [dir=rtl] .custom-control {
    padding-left: 0;
    padding-right: 0;
}
[dir=rtl] .custom-control{
    margin-left: 0;
    
    .custom-control-label{
        &:before,
        &:after{
            right: unset;
            left: 0;
        }
    }
}

.custom-control-label{

    &:before {
        top: 2px;
        background: transparent;
        @extend %shadow;
        border: 1px solid transparent;
        border-radius: 3px;
    }

    &:after {
        font-weight: 600;
        content: "\f00c";
        font-family: 'Font Awesome 5 Free';
        color: $white-color;
        left: -1px;
        top: 0px;
        opacity: 0;
        font-size: 13px;
    }
}
.custom-control-input:checked~.custom-control-label{
    &:before{
        border-color: $main-color;
        background-color: $main-color;
        box-shadow: unset;
    }
    &:after{
        opacity: 1;
        left: -1px;
        color: $white-color;
    }
}

.product-rate {
    position: relative;
    display: inline-block;
    direction: ltr;
    margin-bottom: 25px;

    input.star {
        cursor: pointer;
        position: absolute;
        top: 8px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    label.star {
        font-size: 16px;
        transition: all 0.2s;
        display: inline-block;
        margin: 4px 0 0;
    }

    label.star:before {
        content: "\f005";
        color: $font-color;
        font-family: "Font Awesome 5 Free";
        cursor: pointer;
        font-size: 18px;
    }

    input.star:checked~label.star:before {
        content: "\f005";
        transition: all 0.25s;
        font-weight: 600;
        color: $gold-color;
    }

    .product-description {
        margin: 30px 0 0;
        font-family: $font-meduim;
        color: #777;
    }
}

.modal-open .modal .close{
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background:$main-color;
    border-radius: 50%;
    font-size: 14px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 9999;
    &:focus{
        outline: none;
    }
}
// dropdown menu
.dropdown{
    position: relative;
}
.dropdown-menu {
    background-color: #feeeee;
    min-width: 100%;
    padding: 0;
    border-radius: 5px;
    @extend %shadow;
    @extend %ease;
    display: block;
    visibility: hidden;
    top: calc(100% - 20px);
    opacity: 0;

    &.show{
        @extend %ease;
        display: block;
        visibility: visible;
        top: 100%;
        opacity: 1;
    }

    .dropdown-item {
        padding: 0;

        &:first-of-type{
            a{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
        }
        &:last-of-type{
            a{
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        a{
            position: relative;
            text-align: right;
            padding: 10px;
            font-size: 15px;
            color: #cb292f;
            font-family: "Cairo-SemiBold";
            background-color: transparent;
            border-radius: 0px;
            display: block;
            @extend %ease;

            &:hover{
                background-color: #feeeee;
                color: $black-color;
                @extend %ease;
            }
        }
        
        &:not(:last-of-type){
            border-bottom: 1px solid #f5e9e9;
        }
        .arrow{
            position: absolute;
            left: 10px;
            font-size: 13px;
        }
    }

    .submenu{
        display: none;
    }
    .dropdown-item{
        .submenu{
            display: none;
            visibility: hidden;
            right: calc(100% - 160px);
            opacity: 0;
        }
        &:hover{
            .submenu{
                display: block;
                position: absolute;
                right: 160px;
                top: -2px;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.dropdown-item {
    &.active,
    &:active,
    &:hover,
    &:focus{
        color: $white-color;
        text-decoration: none;
        background-color: transparent;
        outline: unset;
        border: 0;
        position: relative;
    }
}
.dropdown-toggle{
    &:after {
        margin-left: 0em;
        vertical-align: middle;
        content: "";
        border-top: .4em solid;
        border-right: .4em solid transparent;
        border-bottom: 0;
        border-left: .4em solid transparent;
    }
    &.no-caret{
        &:after{
            display: none !important;
        }
    }
}

.w-radius{
    border-radius: 10px;
    overflow: hidden;
}
.bg-white{
    background-color: $white-color;
}
.font-black{
    color: $black-color;
}
.font-white{
    color: $white-color;
}
.md-width{
   padding: 60px;
   position: relative;
}
.red-bg{
    background-color: #feeeee;
}
.light-bg.main-color{
    background-color: #feeeee;
}
.light-bg{
    background-color: #fffcfc;
}
.full-height{
    min-height: 100vh;
}
.w-bg{
    position: relative;
    overflow: hidden;
    &:before{
        content: "";
        position: absolute;
        background: url('../img/bg.png') no-repeat;
        background-size: contain;
        width: 300px;
        height: 300px;
        top: -80px;
        left: -80px;
        z-index: 1;
    }
    &:after{
        content: "";
        position: absolute;
        background: url('../img/bg.png') no-repeat;
        background-size: contain;
        width: 300px;
        height: 300px;
        bottom: -80px;
        right: -80px;
        z-index: 1;
        transform: rotate(180deg);
    }
}

// animation
@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 30px rgba(0, 0, 0, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.loading-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: -moz-linear-gradient(171deg, #cb292f 0%, #d41111 100%);
    background-image: -webkit-linear-gradient(171deg, #cb292f 0%, #d41111 100%);
    background-image: -ms-linear-gradient(171deg, #cb292f 0%, #d41111 100%);
    .lds-ellipsis {
        width: 80px;
        height: 80px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $white-color;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.scrollToTop {
    @extend %shadow;
    background: $main-color;
    color: $white-color;
    position: fixed;
    left: 15px;
    bottom: 20px;
    border-radius: 10px;
    z-index: 11;
    padding: 0 !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: none;
    font-size: 18px;
    &:hover,
    &:focus {
        background: $main-color;
        @extend %shadow;
    }
}

.slick-dotted.slick-slider {
    margin-bottom: 25px;
}


// validation
.form-control.is-invalid, .was-validated .form-control:invalid,
.form-control.is-valid, .was-validated .form-control:valid {
    padding-left: calc(1.5em + .75rem);
    padding-right: 40px;
    background-position: center left calc(.375em + .1875rem);
}
.invalid-feedback {
    margin-top: 10px;
    font-size: 13px;
    color: #333;
}